@using WebApp.Models
@model IEnumerable<Question>

@{
	ViewBag.Title = "Тест";
	Layout = "/Views/Shared/_Layout.cshtml";
}

<form method="post">

	@foreach (var i in Model)
	{
		<p>Вопрос №@i.ID</p>

		<p>@i.Quest</p>

		<p><input name="answer[@i.ID]" type="radio" value=@true>Да</p>
		<p><input name="answer[@i.ID]" type="radio" value=@false>Нет</p>
	}

	<input type="submit" />
</form>

<p></p>
<button><a href="/Test/Result">Результат</a></button>