@using WebApp.Models
@model IEnumerable<Plant>

@{
	ViewBag.Title = "Растения";
	Layout = "/Views/Shared/_Layout.cshtml";
}

@foreach(var i in Model)
{
	<p style="font-size: 25px">@i.Name</p>

	<img src=@i.PictureUrl /><br />

	<details style="color: blue"><div style="color:black">@i.Info</div></details><br />
}