@using WebApplication1.Models;
@model Question

<form method="post" asp-controller="Test" asp-action="Result">
	
	<label>@Model.Text</label> <br />

	<input name="Answer" type="radio" value="true" /> <text>Yes</text> <br />
	
	<input name="Answer" type="radio" value="false" /> <text>No</text> <br />

	<input name="Id" value="@Model.Id" hidden />

	<p><input type="submit" value="Send" /></p>

</form>

@if(Model.Id > 1)
{
	<form asp-controller="Test" asp-action="Back">

		<input type="submit" value="Back">

	</form>
}