<!DOCTYPE html>
<html>
	<body>
		
		<div style="font-size: 20px"><a href="/Home"><img src="https://cdn.icon-icons.com/icons2/1144/PNG/512/homepage_80953.png" height="25px"/></a> | <a href="/Home/About">Info</a></div>

		<h1>@ViewBag.Title</h1>

		<div>
			@RenderBody()
		</div>
	</body>
</html>