@model IEnumerable<WebApplication1.Models.Plant>

@{int counter = 1;}

<table>
	@foreach(var item in Model)
	{
		<tr>
			<th>
                @counter
            </th>

			<th>
                @Html.DisplayFor(modelItem => item.Name)
            </th>

			<th>
                <img src="@Html.DisplayFor(modelItem => item.ImageURL)"  width="200px"/>
            </th>

			<th>
				<a href="javascript:void(0);" class="anchorDetail" data-id="@item.Id">Подробнее</a>
			</th>
		</tr>

		counter++;
	}
</table>

<div id='myModal' class='modal'>
	<div class="modal-dialog">
		<div class="modal-content">
			<div id='myModalContent'></div>
		</div>
	</div>

</div>

@section scripts
    {
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>

        var TeamDetailPostBackURL = '/Plant/Details';
        $(function () {
            $(".anchorDetail").click(function ()
            {
                debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax(
                    {
                        type: "GET",
                        url: TeamDetailPostBackURL,
                        contentType: "application/json; charset=utf-8",
                        data: { "Id": id },
                        datatype: "json",
                        success: function (data)
                        {
                            debugger;
                            $('#myModalContent').html(data);
                            $('#myModal').modal(options);
                            $('#myModal').modal('show');

                        },
                        error: function ()
                        {
                            alert("Ошибка загрузки динамического контента.");
                        }
                });
            });
            $("#closbtn").click(function ()
            {
                $('#myModal').modal('hide');
            });
        });
    </script>
    }